flows.json
[{"id":"9fdfb97d.8f4818","type":"tab","label":"IBM Hack Challenge-Assitant and Cloudant","disabled":false,"info":""},{"id":"871927ef.3608c8","type":"cloudant out","z":"9fdfb97d.8f4818","name":"","cloudant":"","database":"recruiting_candidate_details","service":"node-red-kidwc-cloudant-1588922183601-13926","payonly":true,"operation":"insert","x":458,"y":54,"wires":[]},{"id":"99d7b70b.c52a28","type":"ui_form","z":"9fdfb97d.8f4818","name":"","label":"","group":"7448271.25ab7d8","order":2,"width":0,"height":0,"options":[{"label":"Enter your full name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter your gender","value":"gender","type":"text","required":true,"rows":null},{"label":"Enter your contact number","value":"number","type":"number","required":true,"rows":null},{"label":"Enter your E-mail ID","value":"email","type":"email","required":true,"rows":null},{"label":"Create password","value":"pass","type":"password","required":true,"rows":null}],"formValue":{"name":"","gender":"","number":"","email":"","pass":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":86,"y":63.500003814697266,"wires":[["41ae44f8.58959c","81d03ca0.e2d87","d982c91.4efec38"]]},{"id":"41ae44f8.58959c","type":"function","z":"9fdfb97d.8f4818","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Gender:msg.payload.gender,\n    ContactNumber:msg.payload.number,\n    Email:msg.payload.email,\n    Password:msg.payload.pass,\n    Interviewed:\"No\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":234,"y":20,"wires":[["871927ef.3608c8"]]},{"id":"81d03ca0.e2d87","type":"function","z":"9fdfb97d.8f4818","name":"","func":"msg.payload=\"Congrats \"+msg.payload.name+\"!! Registration Successfull. Login(Under Login Tab) and enter email and password and we will start the interview.\"\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":122,"wires":[["b99a404a.6f163"]]},{"id":"b99a404a.6f163","type":"ui_text","z":"9fdfb97d.8f4818","group":"7448271.25ab7d8","order":0,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-center","x":410,"y":160,"wires":[]},{"id":"74015cfd.e66534","type":"ui_form","z":"9fdfb97d.8f4818","name":"","label":"","group":"71d5f991.1f8558","order":1,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"pass","type":"password","required":true,"rows":null}],"formValue":{"email":"","pass":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":104,"y":438,"wires":[["641f4b30.931574","aab874c5.0bb538"]]},{"id":"641f4b30.931574","type":"function","z":"9fdfb97d.8f4818","name":"","func":"global.set(\"email\",msg.payload.email);\nglobal.set(\"pass\",msg.payload.pass);\nreturn msg;","outputs":1,"noerr":0,"x":217.77780363294812,"y":362.2222551769681,"wires":[["522818ee.6335f8"]]},{"id":"40edeea2.a6f4d","type":"cloudant in","z":"9fdfb97d.8f4818","name":"","cloudant":"","database":"recruiting_candidate_details","service":"node-red-kidwc-cloudant-1588922183601-13926","search":"_id_","design":"","index":"","x":460,"y":400,"wires":[["b2355124.bcb4d","f17a9343.c374e"]]},{"id":"522818ee.6335f8","type":"function","z":"9fdfb97d.8f4818","name":"","func":"var email=global.get(\"email\")\nmsg.payload={\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":285.55555555555554,"y":494.4444444444445,"wires":[["40edeea2.a6f4d"]]},{"id":"b2355124.bcb4d","type":"function","z":"9fdfb97d.8f4818","name":"","func":"var pass=global.get(\"pass\")\nglobal.set(\"id\",msg.payload._id)\nglobal.set(\"rev\",msg.payload._rev)\nglobal.set(\"Name\",msg.payload.Name)\nglobal.set(\"Interviewed\",msg.payload.Interviewed)\nstate=\"Login Failed\"\nif(msg.payload.Password==pass && msg.payload.Interviewed==\"No\"){\n    state=\"Congrats \"+msg.payload.Name+\"!! Login Successful! Answer the question in Technical Interview tab to know whether you are eligible or not\"\n    msg.payload=state;\n}\nelse{\n    if(msg.payload.Interviewed==\"Yes\" && msg.payload.Password==pass){\n        msg.payload=\"Already Interviewed\"\n    }\n    else{\n        if(msg.payload.Password!=pass){\n            msg.payload=state\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":557.8055725097656,"y":540.8611450195312,"wires":[["750924a8.5f231c"]]},{"id":"750924a8.5f231c","type":"switch","z":"9fdfb97d.8f4818","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Already Interviewed","vt":"str"},{"t":"eq","v":"Login Failed","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":674.5,"y":582,"wires":[["fe88b98.949a748"],["d3db6ec2.0778b"],["b4594f0e.9335e"]]},{"id":"d3db6ec2.0778b","type":"change","z":"9fdfb97d.8f4818","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Candidate_Login\",\"Candidate_Technical_Interview\",\"Candidate_Skills\",\"Candidate_Interview_Failed\",\"Candidate_Interview_Success!!!\",\"Candidate_Already_Interviewed\",\"Candidate_Email_Not_Registered\"],\"show\":[\"Candidate_Alert\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":860.5,"y":580,"wires":[["5fcf6a39.3b9ff4"]]},{"id":"5fcf6a39.3b9ff4","type":"ui_ui_control","z":"9fdfb97d.8f4818","name":"","events":"all","x":1071.77783203125,"y":577.5555419921875,"wires":[["c4701870.df78a8"]]},{"id":"b4594f0e.9335e","type":"change","z":"9fdfb97d.8f4818","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Candidate_Login\",\"Candidate_Alert\",\"Candidate_Skills\",\"Candidate_Interview_Failed\",\"Candidate_Interview_Success!!!\",\"Candidate_Already_Interviewed\",\"Candidate_Email_Not_Registered\"],\"show\":[\"Candidate_Technical_Interview\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":858.6666870117188,"y":627.6666870117188,"wires":[["5fcf6a39.3b9ff4"]]},{"id":"7a1af1b0.55967","type":"ui_template","z":"9fdfb97d.8f4818","group":"db8be15d.63a52","name":"","order":1,"width":0,"height":0,"format":"Wrong Credentials!","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1011.7142333984375,"y":57.428558349609375,"wires":[[]]},{"id":"8b0f81df.03882","type":"inject","z":"9fdfb97d.8f4818","name":"","topic":"","payload":"{\"group\":{\"hide\":[\"Candidate_Technical_Interview\",\"Candidate_Alert\",\"Candidate_Skills\",\"Candidate_Interview_Failed\",\"Candidate_Interview_Success!!!\",\"Candidate_Already_Interviewed\",\"Candidate_Email_Not_Registered\"],\"show\":[\"Candidate_Login\"]}}","payloadType":"json","repeat":"3600","crontab":"","once":true,"onceDelay":"10","x":869.2857856750488,"y":387.14295196533203,"wires":[[]]},{"id":"d6a72b27.110768","type":"ui_template","z":"9fdfb97d.8f4818","group":"af44fa85.3cb8b8","name":"","order":1,"width":0,"height":0,"format":"Login Successful!!<br/>\nClick start button(below) to start your interview<br/>\nNote:Donot refresh or switch tabs, if so your interview will be ended and form willl be submitted!!\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1008.5714111328125,"y":109.85714721679688,"wires":[[]]},{"id":"e52e5100.83fdc","type":"ui_button","z":"9fdfb97d.8f4818","name":"","group":"db8be15d.63a52","order":2,"width":0,"height":0,"passthru":false,"label":"Try Again","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Candidate_Technical_Interview\",\"Candidate_Alert\",\"Candidate_Skills\",\"Candidate_Interview_Failed\",\"Candidate_Interview_Success!!!\",\"Candidate_Email_Not_Registered\"],\"show\":[\"Candidate_Login\"]}}","payloadType":"json","topic":"","x":1016.9998779296875,"y":736.1428833007812,"wires":[["5fcf6a39.3b9ff4"]]},{"id":"5fbd9671.7fe928","type":"ui_button","z":"9fdfb97d.8f4818","name":"","group":"af44fa85.3cb8b8","order":2,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Candidate_Login\",\"Candidate_Technical_Interview\",\"Candidate_Alert\",\"Candidate_Interview_Failed\",\"Candidate_Interview_Success!!!\",\"Candidate_Already_Interviewed\",\"Candidate_Email_Not_Registered\"],\"show\":[\"Candidate_Skills\"]}}","payloadType":"json","topic":"","x":1016.8571166992188,"y":411.8571472167969,"wires":[["5fcf6a39.3b9ff4"]]},{"id":"c4701870.df78a8","type":"switch","z":"9fdfb97d.8f4818","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"change","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1223.5,"y":603,"wires":[["9bc78f8a.33d74"]]},{"id":"9bc78f8a.33d74","type":"change","z":"9fdfb97d.8f4818","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Candidate_Technical_Interview\",\"Candidate_Alert\",\"Candidate_Skills\",\"Candidate_Interview_Failed\",\"Candidate_Interview_Success!!!\",\"Candidate_Already_Interviewed\",\"Candidate_Email_Not_Registered\"],\"show\":[\"Candidate_Login\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250.5,"y":686,"wires":[["5fcf6a39.3b9ff4"]]},{"id":"d3a202c.cf631","type":"ui_form","z":"9fdfb97d.8f4818","name":"","label":"","group":"b95f2d1d.9c857","order":0,"width":"0","height":"0","options":[{"label":"Describe yourself in atleast 100 words","value":"describe","type":"multiline","required":true,"rows":5},{"label":"What are your strengths?","value":"strength","type":"multiline","required":true,"rows":4},{"label":"What are your weaknesses","value":"weak","type":"multiline","required":true,"rows":4},{"label":"Do you know C language?","value":"c","type":"switch","required":true,"rows":null},{"label":"Do you know C++ language?","value":"cpp","type":"switch","required":true,"rows":null},{"label":"Do you know Java language?","value":"java","type":"switch","required":true,"rows":null},{"label":"Do you know Python language??","value":"python","type":"switch","required":true,"rows":null},{"label":"Do you know HTML language","value":"html","type":"switch","required":true,"rows":null},{"label":"Why should we hire you?","value":"hire","type":"multiline","required":true,"rows":3}],"formValue":{"describe":"","strength":"","weak":"","c":false,"cpp":false,"java":false,"python":false,"html":false,"hire":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":79,"y":787,"wires":[["f705cd.86b1da3","4cb4ff04.e0faa"]]},{"id":"60e07645.dabad8","type":"function","z":"9fdfb97d.8f4818","name":"","func":"var c=global.get(\"c\")\nvar cpp=global.get(\"cpp\")\nvar java=global.get(\"java\")\nvar python=global.get(\"python\")\nvar html=global.get(\"html\")\nvar describe=global.get(\"describe\")\nvar strength=global.get(\"strength\")\nvar weak=global.get(\"weak\")\nvar hire=global.get(\"hire\")\nvar Score=0\nvar insight=global.get(\"insight\")\nmsg.payload.C=c\nif(c===true){\n    Score=Score+1\n}\nmsg.payload.CPP=cpp\nif(cpp===true){\n    Score=Score+1\n}\nmsg.payload.Java=java\nif(java===true){\n    Score=Score+1\n}\nmsg.payload.Python=python\nif(python===true){\n    Score=Score+1\n}\nmsg.payload.HTML=html\nif(html===true){\n    Score=Score+1\n}\nmsg.payload.Score=Score\nmsg.payload.Describe=describe\nmsg.payload.Strength=strength\nmsg.payload.Weakness=weak\nmsg.payload.Hire=hire\nmsg.payload.Interviewed=\"Yes\"\nmsg.payload.Insights=insight\nif(Score>=3 && msg.payload.Insights.personality[0].percentile>0.5 && msg.payload.Insights.needs[0].percentile>0.5)\n{\n    msg.payload.Eligibility=\"Yes\"\n    msg.payload.EligibilityPercent=(Score*100)/5\n}\nelse{\n   msg.payload.Eligibility=\"No\" \n   msg.payload.EligibilityPercent=(Score*100)/5\n}\nglobal.set(\"Eligibility\",msg.payload.Eligibility)\nglobal.set(\"EligibilityPercent\",msg.payload.EligibilityPercent)\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":917,"wires":[["6915e05a.11e9","1ac65c65.9e8fb4","37ac1dc0.cfce82"]]},{"id":"6915e05a.11e9","type":"cloudant out","z":"9fdfb97d.8f4818","name":"","cloudant":"","database":"recruiting_candidate_details","service":"node-red-kidwc-cloudant-1588922183601-13926","payonly":true,"operation":"insert","x":656,"y":816,"wires":[]},{"id":"f705cd.86b1da3","type":"function","z":"9fdfb97d.8f4818","name":"","func":"global.set(\"c\",msg.payload.c);\nglobal.set(\"cpp\",msg.payload.cpp);\nglobal.set(\"java\",msg.payload.java);\nglobal.set(\"python\",msg.payload.python);\nglobal.set(\"html\",msg.payload.html);\nglobal.set(\"describe\",msg.payload.describe);\nglobal.set(\"strength\",msg.payload.strength);\nglobal.set(\"weak\",msg.payload.weak);\nglobal.set(\"hire\",msg.payload.hire);\nvar id=global.get(\"id\")\nmsg.payload={\n    \"_id\":id\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":862,"wires":[["c2a12831.800898"]]},{"id":"c2a12831.800898","type":"cloudant in","z":"9fdfb97d.8f4818","name":"","cloudant":"","database":"recruiting_candidate_details","service":"node-red-kidwc-cloudant-1588922183601-13926","search":"_id_","design":"","index":"","x":324,"y":786,"wires":[["60e07645.dabad8"]]},{"id":"1ac65c65.9e8fb4","type":"switch","z":"9fdfb97d.8f4818","name":"","property":"payload.Eligibility","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":605,"y":942,"wires":[["58997e37.4cc9a"],["2c2facdd.b52fb4"]]},{"id":"58997e37.4cc9a","type":"change","z":"9fdfb97d.8f4818","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Candidate_Login\",\"Candidate_Technical_Interview\",\"Candidate_Alert\",\"Candidate_Skills\",\"Candidate_Interview_Failed\",\"Candidate_Already_Interviewed\",\"Candidate_Email_Not_Registered\"],\"show\":[\"Candidate_Interview_Success!!!\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":785.1666259765625,"y":894.6666870117188,"wires":[["b0dbed89.292e7","95b9f5aa.9313e8"]]},{"id":"2c2facdd.b52fb4","type":"change","z":"9fdfb97d.8f4818","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Candidate_Login\",\"Candidate_Technical_Interview\",\"Candidate_Alert\",\"Candidate_Skills\",\"Candidate_Interview_Success!!!\",\"Candidate_Already_Interviewed\",\"Candidate_Email_Not_Registered\"],\"show\":[\"Candidate_Interview_Failed\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":788,"y":988,"wires":[["b0dbed89.292e7"]]},{"id":"b0dbed89.292e7","type":"ui_ui_control","z":"9fdfb97d.8f4818","name":"","events":"all","x":998.27783203125,"y":838.5555419921875,"wires":[[]]},{"id":"289d551.84496aa","type":"ui_template","z":"9fdfb97d.8f4818","group":"b0f85f9a.2f28d","name":"","order":0,"width":0,"height":0,"format":"Sorry! You didnot qualify. Get yourself ready for next year by acquiring ne skill<br/>\nAll The Best!!","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1008,"y":218,"wires":[[]]},{"id":"e0052604.46d538","type":"ui_template","z":"9fdfb97d.8f4818","group":"49eefb8b.247bb4","name":"","order":1,"width":0,"height":0,"format":"Success!! Congratulations!!<br/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1008,"y":163,"wires":[[]]},{"id":"95b9f5aa.9313e8","type":"function","z":"9fdfb97d.8f4818","name":"","func":"var eli=global.get(\"Eligibility\")\nvar eliper=global.get(\"EligibilityPercent\")\nvar name=global.get(\"Name\")\nmsg.payload=name+\",you have passed the interview and likely to select for the job. Your percentage is \"+eliper+\"%\"\nreturn msg;","outputs":1,"noerr":0,"x":1004,"y":920,"wires":[["8bfb81f0.c356d"]]},{"id":"8bfb81f0.c356d","type":"ui_text","z":"9fdfb97d.8f4818","group":"49eefb8b.247bb4","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1162,"y":922,"wires":[]},{"id":"6ac4ad0f.546524","type":"switch","z":"9fdfb97d.8f4818","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"change","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":444.50000762939453,"y":250.00000381469727,"wires":[["3cf2a52c.935b1a"]]},{"id":"3cf2a52c.935b1a","type":"change","z":"9fdfb97d.8f4818","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":246.00000762939453,"y":201.50000381469727,"wires":[["b99a404a.6f163","5dec4dde.de0084"]]},{"id":"d982c91.4efec38","type":"ui_ui_control","z":"9fdfb97d.8f4818","name":"","events":"all","x":396.5,"y":108,"wires":[["6ac4ad0f.546524"]]},{"id":"5dec4dde.de0084","type":"function","z":"9fdfb97d.8f4818","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":84.50000381469727,"y":152.00000381469727,"wires":[["99d7b70b.c52a28"]]},{"id":"aab874c5.0bb538","type":"ui_ui_control","z":"9fdfb97d.8f4818","name":"","events":"all","x":216,"y":543,"wires":[["1df9f4e3.01a9fb"]]},{"id":"1df9f4e3.01a9fb","type":"switch","z":"9fdfb97d.8f4818","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"change","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":266,"y":601.5,"wires":[["8847a438.28aee8"]]},{"id":"8847a438.28aee8","type":"function","z":"9fdfb97d.8f4818","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":676,"wires":[["74015cfd.e66534"]]},{"id":"543c75b.b90948c","type":"watson-personality-insights-v3","z":"9fdfb97d.8f4818","name":"","inputlang":"en","outputlang":"en","rawscores":false,"consumption":false,"service-endpoint":"https://api.eu-gb.personality-insights.watson.cloud.ibm.com/instances/1f1bc59f-f3ee-4e8f-be07-a9e1f15e87fe","x":247,"y":998,"wires":[["c925b8c7.b8f0c8"]]},{"id":"4cb4ff04.e0faa","type":"function","z":"9fdfb97d.8f4818","name":"","func":"global.set(\"describe\",msg.payload.describe);\nvar describe=global.get(\"describe\")\nmsg.payload=describe\nreturn msg;","outputs":1,"noerr":0,"x":167,"y":941,"wires":[["543c75b.b90948c"]]},{"id":"fe88b98.949a748","type":"change","z":"9fdfb97d.8f4818","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Candidate_Login\",\"Candidate_Technical_Interview\",\"Candidate_Alert\",\"Candidate_Skills\",\"Candidate_Interview_Failed\",\"Candidate_Interview_Success!!!\",\"Candidate_Email_Not_Registered\"],\"show\":[\"Candidate_Already_Interviewed\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":859.5,"y":530,"wires":[["5fcf6a39.3b9ff4"]]},{"id":"d87fd83f.8821b8","type":"ui_template","z":"9fdfb97d.8f4818","group":"79eb3e39.b1606","name":"","order":0,"width":0,"height":0,"format":"Sorry! You cannot login back because you were already interviewed","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1009,"y":274,"wires":[[]]},{"id":"b52cc7c9.fba7e8","type":"change","z":"9fdfb97d.8f4818","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Candidate_Login\",\"Candidate_Technical_Interview\",\"Candidate_Alert\",\"Candidate_Skills\",\"Candidate_Interview_Failed\",\"Candidate_Interview_Success!!!\",\"Candidate_Already_Interviewed\"],\"show\":[\"Candidate_Email_Not_Registered\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":859.5,"y":709,"wires":[["5fcf6a39.3b9ff4"]]},{"id":"b072fd3c.8be3d","type":"ui_template","z":"9fdfb97d.8f4818","group":"baee86b.bf59978","name":"","order":1,"width":0,"height":0,"format":"Sorry! ID not found, either you entered it wrong or have not registered yet!","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1009,"y":328,"wires":[[]]},{"id":"b940adc7.015db","type":"ui_button","z":"9fdfb97d.8f4818","name":"","group":"baee86b.bf59978","order":2,"width":0,"height":0,"passthru":false,"label":"Try Again","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"Candidate_Technical_Interview\",\"Candidate_Alert\",\"Candidate_Skills\",\"Candidate_Interview_Failed\",\"Candidate_Interview_Success!!!\",\"Candidate_Email_Not_Registered\"],\"show\":[\"Candidate_Login\"]}}","payloadType":"json","topic":"","x":1106,"y":509,"wires":[["5fcf6a39.3b9ff4"]]},{"id":"f17a9343.c374e","type":"switch","z":"9fdfb97d.8f4818","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"payload.null","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":673.5,"y":701,"wires":[["b52cc7c9.fba7e8"]]},{"id":"c925b8c7.b8f0c8","type":"function","z":"9fdfb97d.8f4818","name":"","func":"msg.payload=msg.insights\nglobal.set(\"insight\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":436,"y":1002,"wires":[[]]},{"id":"37ac1dc0.cfce82","type":"debug","z":"9fdfb97d.8f4818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1020,"wires":[]},{"id":"7448271.25ab7d8","type":"ui_group","z":"","name":"Registration Form","tab":"be52855e.26ea78","order":1,"disp":true,"width":"14","collapse":false},{"id":"71d5f991.1f8558","type":"ui_group","z":"","name":"Login","tab":"7d09c35.a2c983c","order":1,"disp":true,"width":"6","collapse":false},{"id":"db8be15d.63a52","type":"ui_group","z":"","name":"Alert","tab":"7d09c35.a2c983c","order":4,"disp":true,"width":"6","collapse":false},{"id":"af44fa85.3cb8b8","type":"ui_group","z":"","name":"Technical Interview","tab":"7d09c35.a2c983c","order":3,"disp":true,"width":"6","collapse":false},{"id":"b95f2d1d.9c857","type":"ui_group","z":"","name":"Skills","tab":"7d09c35.a2c983c","order":4,"disp":true,"width":"15","collapse":false},{"id":"b0f85f9a.2f28d","type":"ui_group","z":"","name":"Interview Failed","tab":"7d09c35.a2c983c","order":5,"disp":true,"width":"6","collapse":false},{"id":"49eefb8b.247bb4","type":"ui_group","z":"","name":"Interview Success!!!","tab":"7d09c35.a2c983c","order":6,"disp":true,"width":"6","collapse":false},{"id":"79eb3e39.b1606","type":"ui_group","z":"","name":"Already Interviewed","tab":"7d09c35.a2c983c","order":7,"disp":true,"width":"6","collapse":false},{"id":"baee86b.bf59978","type":"ui_group","z":"","name":"Email Not Registered","tab":"7d09c35.a2c983c","order":8,"disp":true,"width":"6","collapse":false},{"id":"be52855e.26ea78","type":"ui_tab","z":"","name":"XYZ Company Private Limited","icon":"dashboard","disabled":false,"hidden":false},{"id":"7d09c35.a2c983c","type":"ui_tab","z":"","name":"Candidate","icon":"dashboard","disabled":false,"hidden":false}]